/*
    FONT STYME
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/*
    FONT SIZE
*/

$font-size: 10px;

$font-size-h1-sm: 9rem;
$font-size-h1-md: 1.3rem;
$font-size-h1-lg: 1.3rem;

$font-size-h2-sm: 3.5rem;
$font-size-h2-md: 1.3rem;
$font-size-h2-lg: 1.3rem;

$font-size-p-sm: 1.6rem;
$font-size-p-md: 1.3rem;
$font-size-p-lg: 1.3rem;


$font-size-p-menu-sm: 2rem;
$font-size-p-md: 1.3rem;
$font-size-p-lg: 1.3rem;